<div style="clear: both;"/>
<footer class="site-footer">
    &copy; <span id="year"></span> | <a href="{{ '/' | relative_url }}">Yash Jain</a> | <a href="{{ '/tags/' | relative_url }}">Tags</a>

    <p>
        <a href="https://github.com/scocoyash" target="_blank">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/scocoyash/" target="_blank">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://twitter.com/scocoyash/" target="_blank">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
    </p>
    
</footer>
<script type="text/javascript">
    current_date = new Date()
    year = current_date.getFullYear()
    document.getElementById("year").innerHTML = year;
</script>