<div style="clear: both;"/>
<footer class="site-footer">
    &copy; 2020 | Yash Jain | <a href="{{ '/tags/' | relative_url }}">Tags</a>

    <p>
        <a href="https://github.com/scocoyash" target="_blank">
            <i class="fab fa-github"></i>
            <!---
            <img src="{{ '/assets/images/logo_github.png' | relative_url }}" />
            -->
        </a>
        <a href="https://www.instagram.com/scocoyash/" target="_blank">
            <i class="fab fa-instagram"></i>
            <!---
            <img src="{{ '/assets/images/logo_instagram.png' | relative_url }}" />
        -->
        </a>
        <a href="https://twitter.com/scocoyash/" target="_blank">
            <i class="fab fa-twitter"></i>
            <!---
            <img src="{{ '/assets/images/logo_twitter.png' | relative_url }}" />
        -->
        </a>
    </p>
    
</footer>
