<head>
    {% if site.tags != "" %}
      {% include tags.html %}
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
        <meta content="{{ page.title }}" property="og:title">
    {% else %}
        <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
        <meta content="article" property="og:type">
    {% else %}
        <meta content="website" property="og:type">
    {% endif %}
    {% if page.excerpt %}
        <meta content="{{ page.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip |  truncatewords: 50 }}" property="og:description">
    {% else %}
        <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
        <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
        <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
        <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}
    {% if page.image %}
        <meta content="/img/srcset/{{ page.image }}" property="og:image">
    {% endif %}
    {% if page.tags %}
        {% for tag in page.tags %}
        <meta content="{{ tag }}" property="article:tag">
        {% endfor %}
    {% endif %}

    <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    <!-- For Latex -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

    <!-- CDN for Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    
    <!--Noto Sans JP Font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    
    <script>
        var theme = 'light';
        if (localStorage.getItem('theme')) {
        if (localStorage.getItem('theme') === 'dark') {
            theme = 'dark';
        }
        } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        theme = 'dark';
        }
        function theme_apply() {
        'use strict';
            if (theme === 'light') {
                // document.getElementById('theme_readout').innerHTML = 'Dark';
                document.documentElement.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light');
            } else {
                // document.getElementById('theme_readout').innerHTML = 'Light';
                document.documentElement.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark');
            }
        }
        theme_apply(); // setting the theme initially
        function theme_switch() {
        'use strict';
            if (theme === 'light') {
                theme = 'dark';
            } else {
                theme = 'light';
            }
            theme_apply();
        }
        var theme_OS = window.matchMedia('(prefers-color-scheme: light)');
        theme_OS.addEventListener('change', function (e) {
            'use strict';
            if (e.matches) {
                theme = 'light';
            } else {
                theme = 'dark';
            }
            theme_apply();
        });
    </script>

</head>
